.App {
    overscroll-behavior:none;
    overflow:hidden;
  }

  a, a:visited {
    text-decoration: none;
    color: black;
  }
  
  body {
    background-color: lightcoral;
    padding:1%;
  }
  
  .site-header {
    background-color: white;
    margin: 0%;
    height:15vh;
    width:100vw;
    margin-top:100%;
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-between;
    padding: 0%;
    position: fixed;
    bottom: 0;
    left:0;
    right: 0;
    display: flex;
  }
  
  .headerLeft {
    padding-left: 2%;
  }
  
  .headerRight {
    padding-right:2%;
  }
  
  h2 {
      display: block;
      font-size: 1.5em;
      margin-block-start: 1.5em;
      margin-block-end: 0.83em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      font-weight: bold;
      padding:0;
  }

  h3{
    margin-block-start: 1em;
      margin-block-end: 1em;
  }

  h4 {
    margin: 1em;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }