@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Playfair+Display&display=swap');

/* GLOBAL STYLES */
* {
  color: darkslategray;
  font-family: 'Playfair Display', serif;
  font-weight: 600;
}

html {
  background-color: lightcyan;
  background-repeat: no-repeat;
  height: 100%;
  background-size: fill;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
}

p {
  font-size: 1em;;
}

h1 { 
  font-family: 'WindSong', cursive;
  font-size: 3em;
  text-align: center;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 2em;
}

h3 {
  font-family: 'Playfair Display', serif;
  font-size: 1.5em;
}

a {
  cursor: pointer;
  display: inline-block;
  line-height: 2;
  font-size: 1.5em;
  text-decoration: none;
}

/* HEADER */

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-height: 20%;
}

.logoBar {
  background-size: cover;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
}

.navBar {
  display: flex;
  justify-content: space-around;
  min-width: 40%;
}

.design {
  border-radius: 30px;
  display: flex;
  flex-grow: 1;
  margin: 20px;
  max-height: 400px;
  max-width: 40%;
  min-width: 20%;
  padding: 8px;
}

/* CONTAINER STYLES */
.container {
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
  margin: 30px auto;
  padding: 1.5rem 2rem;
  width: 60%;
  max-width: 600px;
  min-width: 500px;
}

input[type="text"] {
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  font-size: 1em;
  height: 41px;
  margin-right: 2%;
  outline: none;
  padding: 0 1.2rem;
  width: 75%;
}


/* LIST STYLES  */


/* CSS FOR IMAGES */


/* HOME PAGE */
.home-page {
  align-items: left;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
  text-align: left;
}

.contact {
  text-align: center;
}

/* PROJECTS PAGE */
/* .projectsPage {
  align-items: center;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
}

.exampleProjects {
  display: flex;
  justify-content: space-evenly;
  margin-right:10px;
  margin-left:10px;
  max-height: 400px;
  min-width: 40%;
}

.project-form-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
} */

/* CONTACT PAGE */
/* .contactPage {
  align-items: center;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
  text-align: center;
} */

/* RESUME PAGE */


/* CAROUSEL */


/* COLORS */
/* Nougat #DC9C74
Cappucino #EBC6A9
Cream White #FFFBF1
Manila Green #6C8054
Venom #DOF3A5  */